#cart-section {
  margin-top: rem(20px);
  margin-bottom: rem(50px);

  > .container {
    @include susy-breakpoint($mobile-only, $susy) {
      margin: 0;
    }
  }
  
  .table {
    max-width: rem($tablet);
    margin: 0 auto;
    
    @include susy-breakpoint($tablet, $susy_tablet) {
      border-left: rem(2px) solid $cart-title-bg;
      border-right: rem(2px) solid $cart-title-bg;
    }
  
    .theader {
      @include padding (10px 0);
      font-size: 0;
      background-color: $cart-title-bg;
      
      .cell {
        @include font ($bc-font2, $font-large, $font-light);
        color: $cart-title-color;
      }
    }
    
    .tbody {
      font-size: 0;
      border-bottom: rem(10px) solid $cart-title-bg;
    }
    
    .row {
      position: relative;
      height: rem(120px);
      @include padding (10px 0);
      border-bottom: rem(2px) solid $cart-title-bg;
      background-color: $lightergray;
      
      &.empty {
        height: auto;
        @include padding (20px 0);
        text-align: center;
      }
    }
    
    .cell {
      display: inline-block;
      vertical-align: top;
      position: relative;
      height: 100%;
      padding-left: rem(10px);
      @include font ($bc-font1, $font-default, $font-normal);
      
      &__1 {
        display: none;
        overflow: hidden;
        
        @include susy-breakpoint($tablet, $susy_tablet) {
          display: inline-block;
          width: rem(120px);
        }
      }
      
      &__2 {
        width: 40%;
        
        @include susy-breakpoint($tablet, $susy_tablet) {
          width: calc(50% - 120px);
        }
      }
      
      &__3 {
        width: 35%;
        text-align: center;
        
        @include susy-breakpoint($tablet, $susy_tablet) {
          width: 25%;
        }
      }
      
      &__4 {
        width: 25%;
        padding-left: 0;
        padding-right: rem(10px);
        text-align: right;
        
        @include susy-breakpoint($tablet, $susy_tablet) {
          width: 25%;
        }
      }
    }
    
    .tsubtotal {
      
    }
  }
}

.product {
  &__image {
    overflow: hidden;
  }
  
  &__title {
    position: relative;
    max-height: rem(80px);
    @include font ($bc-font1, $font-default, $font-normal);
    overflow: hidden;
    
    @include susy-breakpoint($mobile-landscape, $susy) {
      @include font-size ($font-large);
    }
    
    a {
      display: block;
      width: rem(40px);
      position: absolute;
      top: 0;
      left: 0;
      @include font-size ($font-default);
      color: $darkorange;
      text-decoration: underline;
      
      &:hover {
        color: $orange;
      }
    }
    
    span {
      display: block;
      margin-left: rem(40px);
    }
  }
  
  &__breadcrumb {
    display: none;
    padding-bottom: rem(25px);
  
    a, span {
      @include font-size ($font-medium);
      color: $darkblue;
      pointer-events: none;
      overflow: hidden;
    }
  }
  
  &__links {
    position: absolute;
    bottom: 0;
    left: rem(10px);

    a {
      display: inline-block;
      vertical-align: top;
      margin-right: rem(10px);
      @include padding (2px 10px);
      
      border-radius: rem(5px);
      background-color: $cart-link-bg;
      @include font-size ($font-medium);
      text-decoration: none;
      color: $cart-link-color;

      &:hover {
        background-color: $cart-link-bg-hover;
        color: $cart-link-color;
      }
    }
  }
  
  &__quantity-form {
    margin-bottom: rem(5px);
  }
  
  &__quantity {
    .js & {
      display: none;
    }
  }
  
  &__unit-price {
    
  }
  
  &__discount {
    display: inline-block;
    width: 100%;
    margin-top: rem(5px);
    @include font ($bc-font1, $font-medium, $font-normal);
    opacity: 0.9;
  }
  
  &__total-price {
    display: inline-block;
    width: 100%;

    .value {
      display: inline-block;
      @include font ($bc-font2, $font-large, $font-bold);
      transform: scaleY(1.4);
    }
    
    .currency {
      @include font ('serif', $font-default, $font-normal);
    }
  }
}

.subtotal {
  height: auto !important;
  background-color: $cart-title-bg !important;
  @include clearfix;

  &__value {
    float: right;
    @include padding (10px);
    text-align: right;
    
    &__discount {
      margin-bottom: rem(3px);
      padding-bottom: rem(3px);
      border-bottom: rem(2px) solid $white;
    }
    
    &__nocupom,
    &__discount {
      span.value {
        @include font-size ($font-large);
      }
    }

    .label {
      display: block;
      @include font ($bc-font2, $font-default, $font-light);
      text-align: right;
      color: $white;
    }
    
    .value {
      @include font ($bc-font2, $font-title, $font-bold);
      color: $white;
    }
    
    .currency {
      @include font ('serif', $font-default, $font-normal);
      color: $white;
    }
  }
  
  &__cupom {
    float: left;
    padding-left: rem(10px);
  }
}

// FORM QUANTITY ================== //
form.quantity-form {
  margin: 0;
  
  > div {
    font-size: 0;
  }
  
  .form-item-quantity {
    display: inline-block;
    vertical-align: top;
    height: rem(32px);
    margin: 0;
    
    label {
      display: none;
    }
    
    select {
      width: rem(90px);
      height: rem(32px);
      background-color: $white;
      border: 1px solid $cart-title-bg;
      border-radius: $form-border-radius;
      @include font ($bc-font1, $font-default, $font-normal);
      text-align: center;
    }
  }
  
  .chosen-container {
    width: rem(90px) !important;

    .chosen-single {
      @include padding (3px);
      text-align: center;
      border-radius: $form-border-radius;
      border: 1px solid $cart-title-bg;
    }
    
    .chosen-drop {
      margin-top: rem(-5px);
      border: 1px solid $cart-title-bg;
      border-top: none;
    }
  }
  
  .form-submit-wrapper {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 90px);
    padding-left: rem(10px);
    
    .form-submit {
      height: rem(32px);
    }
  }
}

// FORM CUPOM
#bc-cupom-cupom-cart-form {
  max-width: rem(260px);
  margin: rem(10px 0);
  font-size: 0;
  text-align: center;
  
  .form-item:first-child {
    display: inline-block;
    vertical-align: top;
    width: rem(200px);
    margin: 0;
    
    input {
      padding-right: rem(10px);
      @include font-size ($font-medium);
    }
  }
  
  .form-submit {
    display: inline-block;
    vertical-align: top;
    width: rem(50px);
    margin-left: rem(10px);
    
    &.cupom-remove {
      height: rem(30px);
      width: rem(160px);
      margin: 0;
      margin-top: rem(10px);
    }
  }
  
  p {
    @include font ($bc-font1, $font-default, $font-normal);
    color: $white;
  }
}