

.review-group-page {
  position: relative;
  border: rem(2px) solid $review-page-border;
  margin: rem(30px 0);
  
  @include susy-breakpoint($desktop, $susy_desktop) {
    @include span(4 of 8);
    margin-top: 0;
    clear: left;
    
    &:nth-child(2n) {
      @include last;
      clear: right;
    }
  }
  
  &:first-child {
    margin-top: 0;
  }
  
  .main-info {
    @include susy-breakpoint($desktop, $susy_desktop) { 
      height: rem(140px);
    }
    
    h2 {
      display: none;
    }
    
    .review-wrapper {
      @include padding (20px);
    }
    
    .field-name-body {
      position: relative;
    
      @include susy-breakpoint($desktop, $susy_desktop) { 
        height: rem(100px);
        overflow: hidden;
      }
      
      .field-items {
        display: table;
        width: 100%;
        height: 100%;
      }
      
      .field-item {
        display: table-cell;
        vertical-align: middle;
      }
    }
    
    .read-more {
      position: absolute;
      right: rem(20px);
      bottom: rem(20px);
      
      a {
        background-color: $white;
        color: $orange;
        
        &:hover {
          color: $darkerorange;
        }
      }
      
      &:before {
        content: '';
        display: inline-block;
        vertical-align: bottom;
        width: rem(60px);
        height: rem(20px);
        background: rgba(255,255,255,0.02);
/* Old Browsers */background: -moz-linear-gradient(left, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);
 /* FF3.6+ */background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.02)), color-stop(0%, rgba(255,255,255,0)), color-stop(80%, rgba(255,255,255,1)));
/* Chrome, Safari4+ */background: -webkit-linear-gradient(left, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);
 /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(left, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);
 /* Opera 11.10+ */background: -ms-linear-gradient(left, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);
 /* IE 10+ */background: linear-gradient(to right, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);
/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
/* IE6-9 */
      }
    }
  }
  
  .post-info {
    background-color: $review-page-bg;
    
    .review-wrapper {
      position: relative;
      @include padding (10px 20px 10px 50px);
    }
    
    .icon-wrapper {
      position: absolute;
      left: rem(20px);
      top: 0;
      bottom: 0;
      display: block;
      height: 100%;
      width: rem(30px);
      
      .icon {
        display: table;
        height: 100%;
        width: 100%;
        text-align: right;
      }
      
      .icon:before {
        display: table-cell;
        vertical-align: middle;
        @include font-size ($font-title);
        text-align: center;
        color: $white;
      }
    }

    .creation-info {
      margin-top: rem(5px);
      color: $white;
      text-align: center;
    }
    
    .username {
      color: $orange;
      
      &:hover {
        color: $darkerorange;
      }
    }
  }
  
  .field-type-starrating-rating {
    .field-label {
      display: none;
    }
    
    .starrating {
      text-align: center;
    }
    
    .rate-image {
      display: inline-block;
      vertical-align: top;
      float: none;
      margin: rem(0 5px);
    }
  }
}

#views-exposed-form-review-frontpage-review-page {
  width: 100%;
  max-width: none;
  margin-bottom: rem(30px);
  margin-top: 0;
  padding: rem(30px 0);
  border-bottom: 1px solid $form-color;
  
  > div {
    padding: rem(10px 20px);
    background-color: $form-background;
    border-bottom: rem(5px) solid $form-color;
  }
  
  .views-exposed-widgets {
    text-align: center;
  }
  
  .views-exposed-widget {
    float: none;
    display: inline-block;
    vertical-align: top;
  }
  
  .form-type-select {
    position: relative;
    height: rem(45px);
    padding: 0;
    font-size: 0;
    
    label {
      display: inline-block;
      vertical-align: top;
      width: auto;
      height: 100%;
      margin: 0;
      padding: rem(0 10px);
      background-color: $form-color;
      border-top-left-radius: rem(5px);
      border-bottom-left-radius: rem(5px);
      @include font ($bc-font2, $font-default, $font-normal);
      line-height: rem(42px);
      color: $white;
    }
    
    .chosen-container {
      display: inline-block;
      vertical-align: top;
      width: rem(150px) !important;
      height: 100%;
    }
    
    .chosen-single {
      height: 100%;
      padding: rem(10px);
      border-color: transparent;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background: none;
      background-color: $white;
      
      div {
        right: rem(10px);
      }
      
      span {
        color: $form-color;
      }
    }
    
    .chosen-drop {
      border: none;
      
      li {
        color: $form-color;
        
        &.highlighted {
          color: $white;
        }
        
        &.result-selected {
          pointer-events: none;
          color: $gray;
        }
      }
    }
  }
  
  input.form-submit {
    margin: 0;
  }
}

.page-reviews .reviews-wrapper .container:last-child {
  margin-bottom: rem(60px);
}