// Site Colors
$darkerpurple:  #1D012C;
$darkpurple:    #29023F;
$purple:        #420464;
$purple2:       #6C05A4;
$purple3:       #8A20C4;
$lightpurple:   #AD14FF;
$lighterpurple: #F2DAFF;

$darkerorange:  #A57318;
$darkorange:    #D9900A;
$orange:        #FF8C00;
$lightorange:   #FFAD5F;
$lighterorange: #FCC48F;

$darkerblue:    #050558;
$darkblue:      #0505A3;
$blue:          #0E0EED;
$lightblue:     #5A5AFD;
$lighterblue:   #9C9CFF;

$green:         #00FF00;
$darkgreen:     #0B790B;

$red:           #FF0000;
$darkred:       #880000;

$darkgray:      rgb(101, 98, 129);
$gray:          rgb(183, 177, 232);
$lightgray:     rgb(195, 195, 195);
$lightergray:   rgb(230, 225, 235);

$black:         rgb(0, 0, 0);
$white:         rgb(255, 255, 255);
$coal:          rgb(44, 44, 44);

$star:          #EBC800;
$facebook1:     #3B5998;
$facebook2:     #213E7B;
$google1:       #F44336;
$google2:       #F41808;

// Theme specifics ========================== //
$border:                          $gray;
$default-background-color:        $lightergray;
$default-color:                   $darkpurple;
$links:                           $darkpurple;
$hover-links:                     $orange;

// Header colors ============================ //
$header-topbar-bg:                $purple;
$header-topbar-cl:                $white;
$header-topbar-cl-hover:          $lightorange;
$header-topbar-sitename-cl:       $white;
$header-topbar-sitename-cl-hover: $lightorange;

$header-presentation-bg:          $white;
$header-presentation-slogan-cl:   $purple;
$header-presentation-title-bg:    $lightorange;
$header-presentation-title-cl:    $darkpurple;

$header-navigation-bg:            $purple;
$header-navigation-cl:            $white;
$header-navigation-cl-active:     $lightblue;
$header-navigation-cl-hover:      $lightorange;
$header-navigation-firstletter-cl:$white;

$header-mobile-bg:                $white;
$header-mobile-border:            $orange;
$header-mobile-close:             $orange;
$header-mobile-close-hover:       $darkorange;

// Footer colors ============================ //
$footer-bg:                       $purple;
$footer-menu-title-cl:            $white;
$footer-menu-link-cl:             $white;
$footer-menu-link-cl-hover:       $lightblue;
$bottom-bg:                       $darkblue;
$bottom-cl:                       $white;

// General block ============================ //
$sections-showmore-cl:            $purple2;

// Review block ============================= //
$review-bg:                       $lighterpurple;
$review-title-cl:                 $purple2;
$review-title-cl-hover:           $purple;
$review-content-cl:               $darkpurple;
$review-info-cl:                  $darkorange;

// Showroom block =========================== //
$showroom-bg:                     $purple3;
$showroom-title-cl:               $white;
$showroom-title-cl-hover:         $gray;
$showroom-content-title-bg:       $lightpurple;
$showroom-content-title-cl:       $darkpurple;
$showroom-content-title-bg-hover: $lightblue;
$showroom-content-title-cl-hover: $darkblue;
$showroom-content-body-cl:        $lighterpurple;
$showroom-content-price-bg:       $purple;
$showroom-content-price-cl:       $lighterpurple;
$showroom-content-price-bg-hover: $darkblue;
$showroom-content-price-cl-hover: $white;

// User forms ============================== //
$form-background:         $lighterblue;
$form-color:              $darkblue;
$form-color-active:       $darkerblue;
$form-color-hover:        $lightblue;

// Reviews page ============================ //
$review-page-bg:          $purple2;
$review-page-border:      $purple3;
$review-page-form-bg:     $lightblue;
$review-page-form-border: $blue;

// Cart page =============================== //
$cart-title-bg:           $darkerblue;
$cart-title-color:        $white;
$cart-link-color:         $white;
$cart-link-bg :           $orange;
$cart-link-bg-hover :     $darkorange;

// Modal =================================== //
$modal-shadow:            rgba(65, 65, 65, 0.70);