//General settings for html,body,etc

@viewport{
  zoom: 1;
  width: extend-to-zoom;
}

@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1;
}

html {
  font-family: $bc-font1;
  @include regular;
  color: $default-color;
  font-size: $base-font-size; // Don't modify static unit.
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: 1.25;
  position: relative;
}

body {
  // Disable in production mode;
  @include show-breakpoints;
}

nav, section {
  position: relative;
  @include clearfix;
}

.index-link {
  // Disable in production mode;
  @include index-link;
}

#main-content {
  background-color: $white;
}