// main: style.less
// Insert your styling here.

body {
  font-family: @bc_font1;
  font-size: 12px;
  background-image: url('../images/bg/bg-simple.jpg');
  background-repeat: repeat;
}

html > object {
  display: none;
}