// main: style.less
// Insert your styling here.
.footer {
  padding: 0;
  border: none;
  background-color: @bc_white;
  border-top: 1px solid #ffa9fb;
  background-image: url('../images/bg/bg-pinkdiamond.png');
  background-size: 200px auto;
  
  .container { height: 100%; }
}

.bottom {
  background-color: @bc_purple;
  height: @bc_bottom_height;
  
  .container { height: 100%; }
  .copyright {
    float: right;
    height: 100%;
    color: @bc_white;
    line-height: 30px;
  }
}