// Site Colors
$darkerpurple:  #1D012C;
$darkpurple:    #29023F;
$purple:        #420464;
$purple2:       #6C05A4;
$purple3:       #8A20C4;
$lightpurple:   #AD14FF;
$lighterpurple: #F2DAFF;

$darkorange:    #874200;
$orange:        #FF8C00;
$lightorange:   #FFAD5F;

$darkblue:      #050558;
$blue:          #0E0EED;
$lightblue:     #8E8Ef5;

$green:         #15ef15;
$darkgreen:     #0b790b;

$darkgray:      rgb(101, 98, 129);
$gray:          rgb(183, 177, 232);
$lightgray:     rgb(195, 195, 195);
$lightergray:   rgb(230, 225, 235);

$black:         rgb(0, 0, 0);
$white:         rgb(255, 255, 255);
$coal:          rgb(44, 44, 44);

// Theme specifics ========================== //
$border:                          $gray;
$default-background-color:        $lightergray;
$default-color:                   $darkpurple;
$links:                           $darkpurple;
$hover-links:                     $orange;

// Header colors ============================ //
$header-topbar-bg:                $purple;
$header-topbar-cl:                $white;
$header-topbar-cl-hover:          $lightorange;
$header-topbar-sitename-cl:       $white;
$header-topbar-sitename-cl-hover: $lightorange;

$header-presentation-bg:          $white;
$header-presentation-slogan-cl:   $purple;
$header-presentation-title-bg:    $lightorange;
$header-presentation-title-cl:    $darkpurple;

$header-navigation-bg:            $purple;
$header-navigation-cl:            $white;
$header-navigation-cl-active:     $lightblue;
$header-navigation-cl-hover:      $lightorange;
$header-navigation-firstletter-cl:$white;

$header-mobile-bg:                $white;
$header-mobile-border:            $orange;
$header-mobile-close:             $orange;
$header-mobile-close-hover:       $darkorange;

// Footer colors ============================ //
$footer-bg:                       $purple;
$footer-menu-title-cl:            $white;
$footer-menu-link-cl:             $white;
$footer-menu-link-cl-hover:       $lightblue;
$bottom-bg:                       $darkblue;
$bottom-cl:                       $white;

// General block ============================ //
$sections-showmore-cl:            $purple2;

// Review block ============================= //
$review-bg:                       $lighterpurple;
$review-title-cl:                 $purple2;
$review-title-cl-hover:           $purple;
$review-content-cl:               $darkpurple;
$review-info-cl:                  $darkorange;

// Showroom block =========================== //
$showroom-bg:                     $purple3;
$showroom-title-cl:               $white;
$showroom-title-cl-hover:         $gray;
$showroom-content-title-bg:       $lightpurple;
$showroom-content-title-cl:       $darkpurple;
$showroom-content-title-bg-hover: $lightblue;
$showroom-content-title-cl-hover: $darkblue;
$showroom-content-body-cl:        $lighterpurple;
$showroom-content-price-bg:       $purple;
$showroom-content-price-cl:       $lighterpurple;
$showroom-content-price-bg-hover: $darkblue;
$showroom-content-price-cl-hover: $white;