#presentation {
  display: block;
  position: relative;
  height: 240px;
  background-color: $white;
  overflow: hidden;
  text-align: center;
  z-index: 1;

  // layout
  h2.slogan {
    display: block;
    width: 100%;
  }
  
  #block-bc-blocks-bc-pres-logo {
    display: block;
    width: 150px;
    margin: 0 auto;
  }
  
  > div {
    position: relative;
    z-index: 2;
  }
  
  .images-holder {
    display: none;
  }
  
  // style

  .hero-wrapper,
  .region-presentation {
    width: 100%;
    height: 240px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: #fff;
    z-index: 1;
    
    .image-wrapper {
      opacity: 0.7;
    }
    
    img.active {
      position: relative;
      width: auto;
      max-width: none;
      min-width: 100%;
      top: -20px;
    }
  }
  
  .logo {
    display: block;
    text-align: center;
    opacity: 1;
    
    svg {
      width: 150px;
      height: 150px;
      
      * {
        @include transition (all, 0.2s, ease-in-out);
      }
    }
    &:hover {
      #mb_girl *, #mb_frame * {
        fill: $header-presentation-slogan-cl;
      }
      #mb_ellipse * {
        stroke: $header-presentation-slogan-cl !important;
      }
    }
  }
  
  h2.slogan {
    margin-top: 0;
    margin-bottom: 0;
    @include font ($bc-font1, $font-title, $font-normal);
    color: $header-presentation-slogan-cl;
    text-align: center;
    text-transform: none;
    white-space: nowrap;
    border: none;
    cursor: default;
    opacity: 0.9;
    
    @include susy-breakpoint($tablet, $susy_tablet) {
      text-align: left;  
    }
    
    em {
      @include font-size ($font-xlarge);
    }
    
    &:first-letter {
      @include font-size ($font-xlarge);
    }
  }
}

h1.page-title {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid $header-presentation-title-cl;
  @include font ($bc-font1, $font-title, $font-bold);
  color: $header-presentation-title-cl;
}