{% set menu_links = [
  {'link' : 'about.html', 'title' : 'Sobre Nós', 'current' : ''},
  {'link' : 'clients.html', 'title' : 'Clientes', 'current' : ''},
  {'link' : 'balas.html', 'title' : 'Lista de Balas', 'current' : ''},
  {'link' : 'howtobuy.html', 'title' : 'Como comprar', 'current' : ''},
  {'link' : 'reseller.html', 'title' : 'Revendedores', 'current' : ''},
] 
%}

<h3>Empresa</h3>
<ul class="menu main-menu">
  {% for link in menu_links %}
    <li class="leaf{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %}">
      <a href="{{ link.link }}" class="{{ link.current }}">{{ link.title }}</a>
    </li>
  {% endfor %}
</ul>
