{% set menu_links = [
  {'link' : 'terms.html', 'title' : 'Termos e Condições', 'current' : ''},
  {'link' : 'privacy.html', 'title' : 'Políticas de Privacidade', 'current' : ''},
  {'link' : 'suport.html', 'title' : 'Suporte', 'current' : ''},
  {'link' : 'faq.html', 'title' : 'FAQ', 'current' : ''},
  {'link' : 'contact.html', 'title' : 'Contato', 'current' : ''},
] 
%}

<h3>Suporte</h3>
<ul class="menu main-menu">
  {% for link in menu_links %}
    <li class="leaf{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %}">
      <a href="{{ link.link }}" class="{{ link.current }}">{{ link.title }}</a>
    </li>
  {% endfor %}
</ul>
