{% set menu_links = [
  {'link' : 'login.html', 'title' : 'Login', 'current' : 'login', 'icon': 'icon-login15'},
  {'link' : 'register.html', 'title' : 'Registrar', 'current' : 'register', 'icon': 'icon-plus'},
]
%}

<h3 class="hidden">User Menu</h3>
<ul class="menu menu-topbar user-menu">
  {% for link in menu_links %}
    <li class="leaf{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %}">
      <a href="{{ link.link }}" class="{{ link.current }}">
        <span class="icon {{ link.icon }}"></span>
        <span class="title">{{ link.title }}</span>
      </a>
    </li>
  {% endfor %}
</ul>