.cart-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 9999;
  
  #navigation & {
    left: 25px;
    right: initial;
    
    @include susy-breakpoint($tablet, $susy_tablet) {
      display: none;
    }
    
    span {
      color: $white;
    }
  }
  
  #presentation & {
    display: none;
    text-align: center;
    
    @include susy-breakpoint($tablet, $susy_tablet) {
      display: block;
    }
    
    span {
      display: block;
    }
    
    .icon:before {
      font-size: 40px;
    }
    
    .title {
      height: auto;
      line-height: 25px;
    }
    
    a.cart-button {
      display: block;
      padding: 10px;
      color: $darkblue;
      border-color: $darkblue;
      border: rem(4px) solid;
      border-radius: rem(5px);
      background-color: rgba(124, 124, 255, 0.4);
      transition: all 0.2s ease-in-out;
      
      &:hover {
        color: $blue;
        border-color: $blue;
        
        span {
          color: $blue !important;
        }
      }
      
      span {
        transition: all 0.2s ease-in-out;
        color: $darkblue;
      }
    }
  }
  
  .icon-cart {
    line-height: 45px;
    margin-right: 5px;

    &:before {
      font-size: $font-title;
    }
  }
  
  .title {
    @include font ($bc-font2, $font-default, $font-normal);
    text-transform: uppercase;
  }
  
  a {
    display: block;
  
    span {
      display: inline-block;
      vertical-align: top;
      height: 40px;
      line-height: 40px;
      
      b {
        font-weight: $font-normal;
      }
    }
    
    &:hover span {
      color: $lightorange !important;
    }
  }
}