#baladecoco-showroom {
  background-color: $showroom-bg;

  .section-title {
    color: $showroom-title-cl;
    border-color: $showroom-title-cl;
    
    a {
      color: $showroom-title-cl;
    }
    
    &:hover {
      border-color: $lightblue;
      
      a {
        color: $lightblue;
      }
    }
  }
  
  .showroom-wrapper {
    @include padding (0 20px);
    @include clearfix;
    text-align: center;
    font-size: 0;
    
    @include susy-breakpoint($tablet, $susy_tablet) {
      padding: 0;
    }
  }
  
  .baladecoco-teaser {
    position: relative;
    margin-bottom: rem(30px);
    max-width: rem(400px);
    margin-left: auto;
    margin-right: auto;
    border-bottom: 5px solid $showroom-content-price-bg;
    
    @include susy-breakpoint($tablet-only, $susy_tablet) {
      @include span(4);
      text-align: center;
      max-height: rem(300px);
      overflow: hidden;
      
      &:nth-child(2n) {
        @include last;
      }
      
      &:last-child {
        display: inline-block;
        float: none;
        margin-right: 0;
      }
    }
    
    @include susy-breakpoint($desktop, $susy_desktop) {
      @include span(4);
      text-align: center;
      max-height: 275px;
      overflow: hidden;
      
      &:nth-child(3n) {
        @include last;
      }
    }
    
    @include susy-breakpoint($desktop-wide, $susy_desktop-wide) {
      max-height: rem(330px);
    }
    
    @include susy-breakpoint($desktop-superwide, $susy_desktop-wide) {
      display: inline-block;
      float: none !important;
    }
    
    > a {
      display: block;
      @include clearfix;
    }
    
    &:hover {
      border-color: $showroom-content-price-bg-hover;
      
      .bala-title {
        background-color: $showroom-content-title-bg-hover;
        color: $showroom-content-title-cl-hover;
      }
      
      .bala-price {
        background-color: $showroom-content-price-bg-hover;
        color: $showroom-content-price-cl-hover;
      }
      
      .bala-image-wrapper {
        opacity: 0.8;
      }
    }
  }
  
  .bala-title-wrapper {
    position: relative;
    font-size: 0;
  }
  
  .bala-title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    @include padding (10px 20px);
    padding-right: rem(140px);
    @include font ($bc-font1, $font-large, $font-normal);
    text-align: center;
    color: $showroom-content-title-cl;
    background-color: $showroom-content-title-bg;
    @include transition (all, 0.3s, ease-in-out);
  }
  
  .bala-price {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: rem(120px);
    height: 100%;
    @include padding (10px);
    background-color: $showroom-content-price-bg;
    text-align: center;
    color: $showroom-content-price-cl;
    @include transition (all, 0.3s, ease-in-out);
    
    > div {
      display: table;
      height: 100%;
      width: 100%;
      text-align: center;
    }
    
    .price {
      display: table-cell;
      vertical-align: middle;
      line-height: rem(18px);
      font-size: $font-title;
      font-weight: $font-bold;

      em {
        vertical-align: top;
        line-height: rem(18px);
        @include font ($bc-font2, $font-default, $font-normal);
        font-style: normal;
        margin-left: rem(5px);
      }
    }
  }
  
  .more-link {
    text-align: center;
  }
  
  .bala-image-wrapper {
    background-color: $showroom-content-price-cl-hover;
    @include transition (all, 0.3s, ease-in-out);
    
    img {
      pointer-events: none;
    }
  }
  
  .show-more {
    color: $showroom-title-cl;
    border-color: $showroom-title-cl;
    
    &:hover {
      color: $showroom-content-price-bg;
      border-color: $showroom-content-price-bg;
    }
  }
  
  .more-link {
    text-align: center;
  }
  
  .contextual-links-wrapper {
    top: 1.875rem;
    font-size: 13px;
    font-size: 0.8125rem;
  }
  
  .node-teaser .contextual-links-wrapper {
    top: 0.125rem;
  }
  
  .item-list {
    position: absolute;
    bottom: rem(10px);
    right: rem(10px);
    
    .btn {
      background-color: rgba(255, 140, 0, 0.7); // orange with opacity.
      border: 1px solid $orange;
      
      &:hover {
        background-color: rgba(255, 140, 0, 1);
      }
    }
  }
}