#similar-slider {
  margin-top: rem(20px);
  margin-bottom: rem(20px);
  background-color: white;
  border-bottom: rem(5px) solid #874200;
  
  .container {
    margin: 0;
  }
  
  h2 {
    margin: 0;
    @include padding (10px 15px);
    background-color: $darkorange;
    border: none;
    text-align: center;
    color: $white;
  }

  .flexslider {
    margin: 0 rem(15px);
    border-top: 0;
    border-bottom: 0;
  
    &:before, &:after {
      content: '';
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  .flex-control-nav {
    width: auto;
    position: relative;
    bottom: 0;
    margin: 0 rem(-20px);
    font-size: 0;

    li {
      display: inline-block;
      vertical-align: top;
      width: 33.3%;
      margin: 0;

      a {
        display: block;
        border-radius: 0;
        width: 100%;
        height: rem(30px);
        background-color: $lightorange;
        opacity: 0.7;
      }

      a.flex-active {
        background-color: $orange;
      }
    }
  }

  .flex-direction-nav { 
    .flex-prev {
      left: rem(-20px);
    }

    .flex-next {
      right: rem(-20px);
    }

    a {
      height: rem(45px);
      width: 5rem;
      top: rem(-45px);
      margin: 0;
      background-color: $orange;
      font-size: 0;
      text-align: center;
      opacity: 0.7;
    }

    a:before {
      height: rem(40px);
      margin-top: rem(2px);
      @include font-size (36px);
      color: $darkorange;
      text-shadow: none;
    }
  }
}

.slide-item {
  display: block;
  position: relative;
  min-height: rem(105px);
  max-width: rem(400px);
  margin: 0 auto;
  @include padding (10px 0);
  border-bottom: 1px solid $lightorange;
  
  &:before, &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }

  &:last-child {
    border: none;
  }

  &__image {
    width: rem(140px);
    height: auto;
    position: absolute;
    left: 0;
    top: rem(10px);

    img {
      width: 100%;
      height: auto;
    }
  }
  
  &__body {
    margin-left: rem(140px);
    padding-left: rem(20px);
    font-size: 0;

    &__title {
      display: block;
      height: rem(53px);
      margin-bottom: rem(10px);
      @include font ($bc-font1, $font-large, $font-normal);
      text-decoration: underline;
      color: $darkorange;
    }

    &__price {
      display: inline-block;
      vertical-align: top;
      width: calc(100% - 120px);
      height: rem(40px);
      line-height: rem(40px);

      .icon {
        @include font-size (20px);
        margin-right: rem(10px);
      }

      .value {
        @include font ($bc-font2, $font-large, $font-normal);
        
        @include susy-breakpoint($mobile-landscape, $susy) {
          @include font-size (24px);
        }
      }

      .currency {
        @include font ($bc-font1, $font-medium, $font-normal);
      }
    }

    &__buy {
      display: inline-block;
      vertical-align: top;
      width: rem(120px);
    } 
  }
}