.page-user-login,
.page-user-password,
.page-user-register {
  .tabs {
    display: none;
  }
}

.panel-user_login {
  > .container {
    max-width: 100%;
    margin: 0;
  }
  
  .panel-region {
    display: block;
    padding: rem(20px 0);
   
    &.top {
      
    }
    
    &.left {
      border-bottom: rem(10px) solid $darkblue;
      background-color: $form-background;
    }
    
    &.right {
      border-bottom: rem(10px) solid $darkblue;
    }
    
    &.bottom {
      
    }
  }
}

.hybridauth-widget-wrapper {
  h3 {
    margin: 0;
    margin-bottom: rem(20px);
    text-align: center;
    color: $darkerblue;
    
    @include susy-breakpoint($desktop-wide, $susy_desktop) {
      display: inline-block;
      vertical-align: top;
      width: auto;
      margin: 0;
      margin-right: rem(40px);
      line-height: rem(50px);
    }
  }
  
  ul.hybridauth-widget {
    text-align: center;
    
    @include susy-breakpoint($desktop-wide, $susy_desktop) {
      display: inline-block;
      vertical-align: top;
      width: auto;
    }
  
    li {
      display: block;
      width: rem(250px);
      margin: 0 auto;
      margin-bottom: rem(20px);
      
      @include susy-breakpoint($tablet, $susy_tablet) {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 0;
        
        &:first-child {
          margin-right: 10px;
        }
        &:last-child {
          margin-left: 10px;
        }
      }
      
      &:last-child {
        margin-bottom: 0;
      }
    }
    
    a {
      display: block;
      overflow: hidden;
      text-align: left;
    }
  }
  
  .item-list {
    @include susy-breakpoint($desktop-wide, $susy_desktop) {
      text-align: center; 
    }
  }
}

.hybridauth-icon.big-icon {
  display: inline-block;
  position: relative;
  width: rem(250px);
  height: rem(50px);
  float: none;
  background: none;
  background-image: none;
  border: 1px solid;
  border-radius: rem(5px);
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  &.facebook {
    background-color: $facebook1;
    border-color: $facebook2;

    .icon {
      border-right: 1px solid $facebook2;

      &:before {
        margin-top: rem(3px);
        margin-right: rem(7px);
      }
    }
  }

  &.google {
    background-color: $google1;
    border-color: $google2;

    .icon {
      border-right: 1px solid $google2;

      &:before {
        margin-top: rem(8px);
      }
    }
  }

  &:hover {
    opacity: 0.8;
  }

  span {
    display: block;
    padding-left: rem(60px);
    height: 100%;
    @include font ($bc-font1, $font-default, $font-normal);
    line-height: rem(45px);
    color: $white;

    &.icon {
      width: rem(50px);
      height: rem(50px);
      position: absolute;
      left: 0;
      top: 0;
      padding-left: 0;
      text-align: center;

      &:before {
        display: block;
        @include font-size (34px);
      }
    }
  }
}

.user-form-header {
  font-size: 0;
  background-color: $form-color;
  
  .link {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    height: rem(100px);
    
    a {
      display: table;
      width: 100%;
      height: 100%;
      background-color: $form-color;
      border: 1px solid transparent;
      text-align: center;
      transition: background-color 0.3s ease-in-out;
      
      &:hover {
        background-color: $form-color-hover;
        border-color: $form-color;
      }
      
      &.active {
        background-color: $form-color-active;
        pointer-events: none;
      }
      
      span {
        display: table-cell;
        vertical-align: middle;
      }
      
      .icon:before {
        @include font-size (40px);
        color: $white;
      }
    }
    
    &:nth-child(2) {
      border-left: 1px solid rgba(255, 255, 255, 0.3);
      border-right: 1px solid rgba(255, 255, 255, 0.3);
    }
  }
}

.user-form-bottom {
  margin: rem(20px 0);

  li {
    padding: rem(5px 0);

    a {
      text-decoration: underline;
    }
  }
}

form[id|='user']{
  display: block;
  vertical-align: top;
  padding: 0;
  max-width: rem(400px);
  margin: rem(40px) auto;
  clear: both;

  h2.user-login-header {
    margin: rem(0 0 20px 0);
    @include font ($bc-font2, $font-large, $font-default);
    color: $white;
    text-transform: uppercase;
    text-align: center;
    text-transform: none;
    border: none;
  }

  .user-form {
    padding: rem(40px);
    background-color: $form-background;
    border-bottom: 10px solid $form-color;
  }

  .form-actions {
    margin: rem(20px 0 0 0);
  }

}